html,
*::before,
*::after {
    box-sizing: border-box;
}
h1,
h2,
p,
label,
input,
button {
    font-family: Itim;
}

h1 {
    margin: 0;
    text-align: center;
    font-size: 44px;
}

h2 {
    margin: 0;
}

.block {
    display: flex;
    width: 500px;
    height: 500px;
}

.column {
    display: flex;
    flex-flow: column;
    flex: 1 2 auto;
    justify-content: center;
}

.column--around {
    display: flex;
    flex-flow: column;
    flex: 1 2 auto;
    justify-content: space-around;
}

.row {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.grid {
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
}

.sub-axis--center {
    align-items: center;
}

.vh100 {
    height: 100vh;
}

.bx {
    border-left: 5px solid #ea638c;
    border-right: 5px solid #ea638c;
}

.by {
    border-top: 5px solid #ea638c;
    border-bottom: 5px solid #ea638c;
}

.infoSec {
    height: 220px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    padding: 20px 0;
    flex: 0 0 1;
}

.labelIn {
    margin: 6px 2px;
}

.labelIn label,
.labelIn input {
    font-size: 18px;
}

.labelIn input {
    width: 10vw;
}

.labelIn input:focus {
    outline: none;
    border-style: solid;
    border-radius: 2px;
    box-shadow: 0 0 2px 2px #ffd9da;
    border-color: #ea638c ;
}

.game__btn {
    display: block;
    width: 110px;
    font-size: 16px;
    margin: 10px 0;
    padding: 10px 0;
    color: #fff;
    border: none;
    border-radius: 10px;
    background-color: #89023e;
    cursor: pointer;
}

.game__btn:active {
    background-color: #ffd9da;
}

/* the circle */
.circle-sign::before {
    content: "";
    width: 100px;
    height: 100px;
    border: 20px solid #30343f;
    border-radius: 50%;
    position: absolute;
}

/* the cross */
.cross-sign::before,
.cross-sign::after {
    content: "";
    width: 20px;
    height: 100px;
    background-color:  #30343f;
    transform-origin: 50% 50%;
    transform: rotate(45deg);
    position: absolute;
}

.cross-sign::after {
    transform: rotate(-45deg);
}

.game__result {
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    height: 30%;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 10px 2px #FFD9DA;
}

.game__result::before {
    position: absolute;
    z-index: -1;
    content: "";
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.1);
}

.msg__result {
    font-size: 20px;
    margin: 0;
    margin-top: 30px;
    color: #fff;
    text-align: center;
    width: 100%;
    background-color: #ea638c;
    padding: 10px 0;
    font-size: 30px;
}


.msg__winner {
    display: block;
    color: #1b2021;
    font-size: 36px;
    margin: 0;
}

.blank {
    display: none;
}

@media only screen and (max-width: 768px) {
    .block {
        display: flex;
        width: 250px;
        height: 250px; 
    }

    .labelIn input {
        width: 25vw;
    }

    .game__result {
        width: 60%;
        height: 30%;
    }

    .circle-sign::before {
        content: "";
        width: 50px;
        height: 50px;
        border: 10px solid #30343f;
        border-radius: 50%;
        position: absolute;
    }

    .cross-sign::before,
    .cross-sign::after {
    content: "";
    width: 10px;
    height: 50px;
    background-color:  #30343f;
    transform-origin: 50% 50%;
    transform: rotate(45deg);
    position: absolute;
    }

    .cross-sign::after {
        transform: rotate(-45deg);
    }
}