html,
*::before,
*::after {
    box-sizing: border-box;
}

h1 {
    text-align: center;
    font-size: 36px;
}

h2 {
    margin: 0;
}

.block {
    display: flex;
    width: 500px;
    height: 500px;
}

.column {
    display: flex;
    flex-flow: column;
    flex: 1 2 auto;
    justify-content: flex-start;
}

.column--around {
    display: flex;
    flex-flow: column;
    flex: 1 2 auto;
    justify-content: space-around;
}

.row {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.grid {
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    border: 1px solid hsl(330, 100%, 71%);
}

.sub-axis--center {
    align-items: center;
}

.vh100 {
    height: 100vh;
}

.infoSec {
    height: 220px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    padding: 20px 0;
    flex: 0 0 1;
}

.infoSec label {
    font-size: 16px;
}

.labelIn {
    margin: 6px 2px;
}

.game__btn {
    display: block;
    width: 110px;
    font-size: 14px;
    margin: 10px 0;
    padding: 10px 0;
    color: #fff;
    border: none;
    border-radius: 10px;
    background-color: cadetblue;
}

.game__btn:active {
    background-color: rgb(184, 122, 41);
}

/* the circle */
.circle-sign::before {
    content: "";
    width: 100px;
    height: 100px;
    border: 20px solid hsl(330, 100%, 71%);
    border-radius: 50%;
    position: absolute;
}

/* the cross */
.cross-sign::before,
.cross-sign::after {
    content: "";
    width: 20px;
    height: 100px;
    background-color:  hsl(330, 100%, 71%);
    transform-origin: 50% 50%;
    transform: rotate(45deg);
    position: absolute;
}

.cross-sign::after {
    transform: rotate(-45deg);
}

.game__result {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 35%;
    height: 30%;
    border: 1px solid;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8);
}

.msg__result {
    font-size: 20px;
    margin: 0;
    margin-top: 30px;
    color: #fff;
    text-align: center;
    width: 100%;
    background-color: rgb(184, 122, 41);
    padding: 10px 0;
}


.msg__winner {
    display: block;
    color: #000;
    font-size: 24px;
    margin: 0;
}

.blank {
    display: none;
}

@media only screen and (max-width: 768px) {
    .block {
        display: flex;
        width: 250px;
        height: 250px; 
    }

    .circle-sign::before {
        content: "";
        width: 50px;
        height: 50px;
        border: 10px solid hsl(330, 100%, 71%);
        border-radius: 50%;
        position: absolute;
    }

    .cross-sign::before,
    .cross-sign::after {
    content: "";
    width: 10px;
    height: 50px;
    background-color:  hsl(330, 100%, 71%);
    transform-origin: 50% 50%;
    transform: rotate(45deg);
    position: absolute;
    }

    .cross-sign::after {
        transform: rotate(-45deg);
    }
}